*, *:before, *:after {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html { 
  background: url(./imgs/coin-background.jpg) no-repeat bottom center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: grid;
  height: 100vh;
  grid-template:.16fr 2fr .16fr/ .6fr 2fr .6fr;
}

img {
  width: 40%;
  height: 40%;
}

.heading {
  display: flex;
  justify-content: center;
  grid-area: 1/ 1/ 2 / 4;
  background-color: bisque;
}

.footer {
  grid-area: 3/ 1/ 4/ 4;
  background-color: bisque;
}

.container {
  grid-area: 2 / 2/ 3/ 3;
  display: grid;
  grid-template-rows: .3fr repeat(5, 1fr);
  background-color: aqua;
}

.place-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 80%;
  color: blue;
  background-color: green;
  border: 1px solid red;
  border-radius: 18px;
}

.contact-info {
  display: grid;
}