*, *:before, *:after {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

@font-face {
  font-family: 'sans7';
  src: url(./fonts/game_sans_serif_7.ttf);
}

@font-face {
  font-family: 'zerpixl';
  src: url(./fonts/zerpixl-Regular.ttf);
}

:root {
  --light-blue: #a6c9c9;
  --green: green;
  --light-green: #c9e4ad;
  --orange: #ffc440;
  --light-orange: #fce59a;
  --dark-orange: #f27a01;
  --gold: gold;
  --white: white;
  --black: black;
  --gradient: red, orange, yellow, green, blue, indigo, violet; 
}

html { 
  background: url(./imgs/coin-background.jpg) no-repeat bottom center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: grid;
  height: 100vh;
  grid-template: 56px 20px 2fr 20px 56px/ .6fr 2fr .6fr;
}

h1 {
  font-family: 'sans7';
  font-size: 3rem;
  padding-top: 10px;
}

h2 {
  font-family: 'sans7';
  font-size: 1.6rem; 
  padding-top: 7px;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-family: monospace;
  font-size: 1rem;
}

p, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  all: unset;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 86px;
  height: 43px;
  border-radius: 9px;
  border: 3px solid var(--dark-orange);
  color: var(--black);
  background-color: var(--orange);
}

button:hover {
  background-color: var(--light-orange);
}

.black-border {
  border-color: var(--black);
}

.header, .footer {
  background-color: var(--light-green);
}

.header {
  display: flex;
  grid-area: 1/ 1/ 2/ 4;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.footer {
  grid-area: 5/ 1/ 6/ 4;
}

.container {
  display: flex;
  flex-direction: column;
  grid-area: 3/ 2/ 4/ 3;
  min-width: 776px;
  gap: 16px;
  padding: 16px;
  border-radius: 18px;
  background-color: var(--light-blue);
}

.gradient-wrapper {
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 80%;
  padding: 8px;
  border-radius: 18px;
  background: linear-gradient(to right, var(--gradient));
}

.heading, .sub-heading, .review-block, .info-block, .menu-item-container, .contact-info {
  height: 100%;
  width: 100%;
  border-radius: 18px;
  color: var(--white);
  background-color: var(--black);
}

.heading {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 4px;
}

.heading > img {
  height: 90%;
  width: 90%;
}

.heading > img:first-child {
  transform: rotate(-40deg);
  justify-self: end;
}

.heading > img:last-child {
  transform: rotate(40deg);
  justify-self: start;
}

.sub-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.sub-heading > img {
  height: 50%;
  width: 10%;
}

.review-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 140px;
  gap: 10px;
  padding: 8px;
}

.review-block > img {
  position: absolute;
  align-self: center;
  margin-top: -106px;
  width: 108px;
}

.review-block > h3, .info-block > h3 {
  font-family: 'zerpixl';
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 8px;
}

.info-block > p {
  align-self: center;
}

.menu-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

@keyframes border-pulsate {
  14.2% {border-color: orange;}
  28.4% {border-color: yellow;}
  42.6% {border-color: green;}
  56.8% {border-color: blue;}
  71% {border-color: indigo;}
  85.2% {border-color: violet;}
}

.menu-item-container > div:last-child > img, .contact-info > img {
  width: 160px;
  height: 160px;
  border-radius: 6px;
  border: 3px solid red;
  animation: border-pulsate 10s infinite;
}

.menu-item-container > div:first-child, .menu-item-container > div:last-child {
  gap: 10px;
}

.menu-item-container > div:first-child {
  display: grid;
}

.menu-item-container > div:last-child {
  display: flex;
  align-items: center;
}

.menu-item-container > div:last-child > h4::first-letter {
  color: var(--green);
}

.menu-item-container > div:last-child > h4 {
  color: var(--gold);
}

.contact-info {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1.8fr 160px;
  padding: 8px;
}

.contact-info > img {
  justify-self: end;
}

.contact-info > div {
  display: grid;
  gap: 3px;
}