*, *:before, *:after {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

:root {
  --blue: #a6c9c9;
  --green: #c9e4ad;
  --orange: #ffc440;
  --light-orange: #fce59a;
  --dark-orange: #f27a01;
  --white: white;
  --black: black;
  --gradient: red, orange, yellow, green, blue, indigo, violet; 
}

html { 
  background: url(./imgs/coin-background.jpg) no-repeat bottom center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: grid;
  height: 100vh;
  grid-template: 56px 20px 2fr 20px 56px/ .6fr 2fr .6fr;
}

img {
  width: 40%;
  height: 40%;
}

button {
  all: unset;
  text-align: center;
  width: 86px;
  height: 43px;
  color: var(--black);
  background-color: var(--orange);
  border: 3px solid var(--dark-orange);
  border-radius: 9px;
}

button:hover {
  background-color: var(--light-orange);
}

button:focus {
  border-color: var(--black);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  grid-area: 1/ 1/ 2/ 4;
  background-color: var(--green);
}

.footer {
  grid-area: 5/ 1/ 6/ 4;
  background-color: var(--green);
}

.container {
  display: grid;
  grid-area: 3 / 2/ 4/ 3;
  grid-template-rows: auto;
  background-color: var(--blue);
  padding: 6px;
  border-radius: 18px;
}

.gradient-wrapper {
  display: flex;
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 80%;
  background: linear-gradient(to right, var(--gradient));
  border-radius: 18px;
  padding: 8px;
}

.place-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 100%;
  padding: 4px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 18px;
}

.contact-info {
  display: grid;
}